main{
    height: 1000vh;
}

section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 5em;
    justify-items: center;


}

section>div{
    background: #6B6B6B 0% 0% no-repeat padding-box;
    border-radius: 1em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    color: white;
    width: 50%;
    text-align: center;


}

section>div>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
input, button{
    background: #3D3C3C 0% 0% no-repeat padding-box;
    color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    width: 50%;
    font-size: 1.5em;
}

@media only screen and (max-device-width: 420px){
    section{
        display: flex;
        width: 80%;
        font-size: 36px;
        padding: 2.75em;
    }

    section>div{
        width: 100%;
    }
    input, button{
        width: 80%;
        font-size: 40px;
    }
}