main{
    height: 1000vh;
}
addButton{
    display:flex;
    margin: 1em;
    justify-content: center;
}

section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3em;
    padding: 3em;
    padding-top: 5em;
    overflow: auto;
}

.boxes>a>div{
    background: #3D3C3C 0% 0% no-repeat padding-box;
    border-radius: 3em;
}

.boxes>a>div>div {
    height: 20%;
    width: 100%;
    border: 1px solid #707070;
    border-radius: 1em 1em 0 0;
    color: white;
    text-align: center;
    font-size:3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes>a>div>img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    background: #6B6B6B 0% 0% no-repeat padding-box;
    border-radius: 0 0 3em 3em;
}

#inventory>img{
    object-fit: fill;
}

.boxes>a {
    padding: 0;
    border-radius: 3.2em;
}

#addButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-device-width: 420px) {
    section{
        display: flex;
        flex-direction: column;
        gap: 4em;
        font-size: 1.5em;
        padding: 2em;
    }

    addButton{
        font-size: 2em;
    }


}