body{
    margin: 0;
}

.base-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

main{
    width: 100vw;
    height: 1000vh;
    background: transparent linear-gradient(180deg, #4EA1FFDB 0%, #346CACDB 100%, #275180DB 100%) 0% 0% no-repeat padding-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2em 4em;
    background: #6B6B6B 0% 0% no-repeat padding-box;
    border-bottom: 3px solid #000000;
}

a{
    text-decoration: none;
    display: inline-block;
}


.button{
    background: #3D3C3C 0% 0% no-repeat padding-box;
    border: 3px solid #000000;
    border-radius: 3em;
    opacity: 1;

    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    padding: 0.4em;
    font-size: 2em;
}

@media only screen and (max-device-width: 420px){
    header{
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding: 2em;
        font-size: 20px;

    }

    header>div{
        margin: 1em;
    }

    section{
        display: flex;
        flex-direction: column;
        row-gap: 4em;
        overflow: auto;
        padding: 2em;
        font-size: 1.5em;
    }

    main{
        height: 1000vh;
    }
}