section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3em;
    padding: 3em;
    padding-top: 5em;
    overflow: auto;
}

.boxes>a>div{
    background: #3D3C3C 0% 0% no-repeat padding-box;
    border-radius: 3em;
}

.boxes>a>div>div {
    height: 20%;
    width: 100%;
    border: 1px solid #707070;
    border-radius: 1em 1em 0 0;
    color: white;
    text-align: center;
    font-size:3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes>a>div>img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    background: #6B6B6B 0% 0% no-repeat padding-box;
    border-radius: 0 0 3em 3em;
}

#inventory>img{
    object-fit: fill;
}

.boxes>a {
    padding: 0;
    border-radius: 3.2em;
}

