body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #4EA1FFDB 0%, #346CACDB 100%, #275180DB 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.logo{
    width: 50%;
    text-align: center;
}

.login-container{
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60vh;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 75px;

    
}

button{
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    border: 2px solid #2B2929;
    border-radius: 20px;
    opacity: 1;
    width: 50%;
    margin: 1em;
    line-height: 2em;
    font-size: 1.5em;
    outline: none;
}

input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #2B2929AD;
    border-radius: 1em;
    margin: 0.25em;
    line-height: 2em;
    font-size: 1.5em;
    width: 50%;
    text-align: center;
    outline: none;

}

a{
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    border: 2px solid #2B2929;
    border-radius: 20px;
    opacity: 1;
    width: 50%;
    margin: 1em;
    line-height: 2em;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.no-valid{
    border: 1px solid red;
    border-radius: 1em;
}


@media only screen and (max-device-width: 420px){
    .container{
        flex-direction: column;
    }

    *{
        font-size: 36px;
    }

    .login-container, .logo{
        width: 100%;
    }

    form{
        margin: auto;
    }
    img{
        height: 5.5em;
        margin: 2em;
    }
    input{
        font-size: 1em;
    }
}