main{
    height: 1000vh;
}

main>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
addButton{
    display:flex;
    margin: 1em;
    justify-content: center;
}



section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3em;
    padding: 3em;
    padding-top: 5em;
    overflow: auto;
}



input {

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 1em;
    width: 100%;
    text-align: center;
    letter-spacing: 0.72px;
    color: #A8A8A8;
    margin: 0;
    box-sizing: border-box;
    height: 3em;
}

.skins>div{
    background: #3D3C3C 0% 0% no-repeat padding-box;
    border-radius: 3em;
    text-align: center;
    color: white;
    padding: 0;
    border-radius: 1em;
}


.skins>div>div>img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    background: #6B6B6B 0% 0% no-repeat padding-box;

}


#addToInventory{
    border-radius: 0.5em;
}

#addButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20em;
}


@media only screen and (max-device-width: 420px) {
    section{
        display: flex;
        flex-direction: column;
        gap: 4em;
        font-size: 1.5em;
        padding: 2em;
    }

    addButton, input{
        font-size: 2em;
    }


}